/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-header: url("../images/cover-image-light.png");
  --header-title: #FFC2E6;
  --bg-color: #FFF1F7;
  --bg-title-decor: #FF8DCB;
  --color-title-decor: #353430;
  --color-main: #353430;
  --title-color: #353430;
  --header-border: #353430;
  --color-shadow: #FF8DCB;
  --theme-color: #353430;
  --hover-button: #32312D66;
  --hover-link: #353430;
  --focus-buttom: #353430;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-header: url("../images/cover-image-light.png");
  --header-title: #FFC2E6;
  --bg-color: #FFF1F7;
  --bg-title-decor: #FF8DCB;
  --color-title-decor: #353430;
  --color-main: #353430;
  --title-color: #353430;
  --header-border: #353430;
  --color-shadow: #FF8DCB;
  --theme-color: #353430;
  --hover-button: #32312D66;
  --hover-link: #353430;
  --rec-display: none;
  }
}
