/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-header);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  color: var(--text-accent);
  min-height: 668px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--absolute-padding);
  right: var(--absolute-padding);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-border);
  border-right: 1px solid var(--header-border);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--absolute-padding);
  left: var(--absolute-padding);
  align-items: end;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-border);
  border-left: 1px solid var(--header-border);
}

.header__first-decoration {
  position: absolute;
  top: var(--absolute-padding);
  right: var(--absolute-padding);
  display: var(--rec-display);
}

.header__text-decor {
  padding-right: 29px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__text-decor::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FF0070;
  filter: blur(2px);
  transform: translateY(-50%);
}

.header__theme-menu {
  justify-self: end;
  padding: var(--header-padding) var(--header-padding) 0 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 18px;
}

.header__theme-menu-item {
  color: var(--theme-color);
}

.header__theme-menu-button {
  min-height: 26px;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button);
}

.header__theme-menu-button:focus {
  outline: none;
  
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-button);
}

.header_title {
  padding: 0 0 0 var(--header-padding);
  color: var(--header-title);
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: 95.7px;
}

.title-shadow {
  text-shadow: 5px 5px var(--color-shadow);
}

.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--hover-link);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--hover-link);
}

.description {
  padding: 0 var(--header-padding) var(--header-padding) var(--header-padding);
}

.title-decor {
  color: var(--color-title-decor);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: var(--bg-title-decor);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: var(--main-gap);
  padding: var(--content-padding);
}

.main-content-why {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, min-content);
  grid-auto-rows: min-content;
  gap: 20px;
}

.main-content-what {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, min-content);
  grid-auto-rows: min-content;
  gap: 20px;
}

.main-content-how {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, min-content);
  grid-auto-rows: min-content;
  gap: 20px;
}

.title {
  color: var(--title-color);
  font-size: inherit;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-decor {
  background-color: var(--bg-title-decor);
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color-main);
  font-weight: 400;
  line-height: 23.45px;
}

.text-shadow {
  text-shadow: 2px 2px var(--color-shadow);
}

.subtitle-decor {
  color: var(--color-title-decor);
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  background-color: var(--bg-title-decor);
}

.title-sub-decor {
  color: var(--color-title-decor);
  font-family: inherit;
  font-size: inherit;
  background-color: var(--bg-title-decor);
}

.picture-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.picture-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 10px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
  align-content: center;
  height: 100vh;
  padding: var(--header-padding);
  background-color: var(--bg-color);
  min-height: 668px;
}

.footer_title {
  color: var(--header-title);
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: 95.7px;
}

@media (min-width: 768px) {
.header_title {
  padding: 0;
}

  .description {
    display: flex;
    justify-content: end;
  }
  .title-decor {
    max-width: 50%;
  }

  .main-content-why {
    grid-template-columns: 1fr 2fr;
  }

  .main-content-what {
    grid-template-columns: 1fr 2fr;
    gap: 19px;
  }

  .card-list {
    gap: 19px;
  }

  .what-title {
    grid-column: span 1;
  }
  
  .what-list {
    grid-column: span 2;
  }

  .main-content-how {
    grid-template-columns: 1fr 2fr;
  }

  .picture-content {
    gap: 20px;
  }

  .picture-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "sunset sunset ice"
    "tape books ice"
    "tape street street";
    gap: 22px;
  }

  .picture-sunset {
    grid-area: sunset;
  }
  
  .picture-ice {
    grid-area: ice;
  }
  
  .picture-tape {
    grid-area: tape;
  }
  
  .picture-books {
    grid-area: books;
  }
  
  .picture-street {
    grid-area: street;
  }
}

@media (min-width: 1024px) {
  .header {
    align-items: normal;
  }

  .description {
    align-items: center;
    padding: 0 var(--header-padding);
  }

  .header__theme-menu {
    justify-self: center;
    padding: 0;
    padding-top: var(--header-padding);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main-content-why {
    gap: 11px;
  }

  .what-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-content-how {
    gap: 11px;
  }
}
